{% extends "base.html" %}

{% block content %}
<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
    <div class="h-32 rounded"></div>
    <div class="py-16 rounded align-middle">
        <h1 class="text-4xl font-bold text-gray-900 text-center pt-30 pb-10">Transaction Successful</h1>
        
        <div class="text-center">
        <p class="mt-2 sm:mt-4 my-20">
          <strong class="text-3xl font-bold text-gray-900 sm:text-4xl rounded-2xl border border-indigo-600 shadow-xs ring-1 ring-cyan-600 p-5"> ${{ queryset.transaction.amount }} </strong>
        </p>
        </div>

        <div class="text-center">
        <a 
            class="inline-block rounded-sm border border-cyan-600 bg-cyan-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-cyan-600 focus:ring-3 focus:outline-hidden"
            href="{% url "atm:home" %}">
        Accept
        </a>
        </div>

    </div>
    <div class="h-32 rounded"></div>
    <div class="px-20 w-screen">

        {% if queryset.transaction.transaction_type == "withdraw" %}

        <div class="items-stretch gap-4 text-center">
            
        {% for bill in queryset.printed_bills %}
            {% if bill.image %}
            
            <img
                src="{{ bill.image.url }}"
                alt="{{ bill.value }}"
                class="h-20 rounded inline-block"
            />
            
            {% endif %}
        {% endfor %}

        </div>

        {% elif queryset.transaction.transaction_type == "deposit" %}

        <h1>Successfully deposited to {{ queryset.transaction.origin_account.user }}'s Account</h1>
        
        {% elif queryset.transaction.transaction_type == "transfer" %}

        <h1>Successfully transfered from {{ queryset.transaction.origin_account.user }} to #{{ queryset.transaction.destiny_account_number }}</h1>
        
        {% else %}
        <h1>Fracaso 7n7</h1>
        {% endif %}

    </div>
</div>
{% endblock content %}